.app {
  text-align: center;
}

footer {
  background-color: #343a40;
  color: whitesmoke;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
}

.row-content {
  /* margin: 0 auto; */
  min-height: 400px;
}
